gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Android Studio will place build artifacts here
/app/debug
/app/profile
/app/release
/app/src/debug
/app/src/profile
/app/src/main/kotlin
/app/src/main/res
/app/src/build.gradle
/gradle
/build.gradle
/gradle.properties
/settings.gradle
/app/build.gradle
